$fallback-serif: Times,"Times New Roman",Georgia,serif;

$fallback-sans: "Roboto",sans-serif;

@font-face {
	font-family: 'Obviously-Regular';
	src: url('../fonts/obviously/Obviously-Regular.woff2') format('woff2');
}

$ff-obv-reg: "Obviously-Regular" , $fallback-sans;
