
// aspect ratio
@mixin aspect-ratio($arglist... /*$ratio or $width, $height*/){
  $map : keywords($arglist);
  $height: map-get($map, height) or nth-value($arglist, 2);
  $width:  map-get($map, width)  or nth-value($arglist, 1);
  $ratio:  map-get($map, ratio)  or if($width and $height, $width/$height, nth-value($arglist, 1)) or 1;
  $padding: 1/$ratio * 100%;
  &::before, &::after { content: ''; display: table; clear: both; width:1px; margin-left:-1px; }
  &::before { float: left; padding-bottom: $padding; }
}

@function nth-value($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}

@mixin fontFace($src) {
  src: url($src + '.eot'); /* IE9 Compat Modes */
  src: url($src + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url($src + '.woff2') format('woff2'), /* Super Modern Browsers */
  url($src + '.woff') format('woff'), /* Pretty Modern Browsers */
  url($src + '.ttf')  format('truetype'), /* Safari, Android, iOS */
}
