.footer {
  background: $black;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  /* margin-bottom: -.8rem; */
  h1 {
    font-size: 4.5vw;
    color: $white;
    text-transform: uppercase;
    font-variant: small-caps;
    line-height: 1;
    @media(max-width: $mobile){
      font-size: 4.2vw;
    }
    a {
      text-decoration: none;
      transition: all .25s;
      &:hover {
        color: #9DD39D;
      }
    }
  }
}
