.home-header {
  color: green;
  font-size: 3rem;

}
.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  @media(max-width: $mobile){
    flex-direction: column;
  }
  .project-tile {
    display: block;
    .cover-image {
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      .title {
        width: 50%;
        @media(max-width: $mobile){
          width: 100%;
        }
        padding: .5rem;
        background: $white-tr;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        transition: all .4s;
        transform: translateY(100%);
      }
      &:hover {
        .title {
          transform: translateY(0);
        }
      }
    }
    &.oneX {
      width: 25%;
      @media(max-width: $mobile){
        width: 100%;
      }
      .cover-image {
        @include aspect-ratio($ratio: 1/1);
      }
    }
    &.twoX {
      width: 50%;

      @media(max-width: $mobile){
        width: 100%;
      }
      .cover-image {
        @include aspect-ratio($ratio: 2/1);
        @media(max-width: $tablet){
          @include aspect-ratio($ratio: 3/2);
        }
        @media(max-width: $mobile){
          @include aspect-ratio($ratio: 2/1);
        }
      }
    }
  }
}
