.topnav {
  width: 100%;
  padding: 0rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet){
    padding-bottom: 2.4rem;
  }
  @media (max-width: $mobile){
    padding-bottom: 1.1rem;
  }
  a {
    text-decoration: none;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .homelink {
    margin-right: 2rem;
    line-height: .3;
    font-size: 7.3rem;
    @media (max-width: $tablet){
      font-size: 5.5rem;
    }
    @media (max-width: $mobile){
      font-size: 3rem;
    }
    @media (max-width: 420px){
      line-height: .6;
      font-size: 1.7rem;
    }
  }
  .info {
    font-size: 3.3rem;
    line-height: 1.1;
    @media (max-width: $tablet){
      font-size: 2.2rem;
      line-height: 1.2;
    }
    @media (max-width: $mobile){
      font-size: 1.8rem;
      line-height: .8;
    }
    @media (max-width: 420px){
      font-size: 1rem;
      line-height: .9;
    }
  }
}
